*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
body{
    background-color: maroon;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: white;
    width: 1320px;
    max-width: 37.5em;
    margin: 0 auto;
    padding: 30px ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.search-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}
.search-wrapper button{
    font-size: 20px;
    background-color: maroon;
    color: #fff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.25em;
}
.search-wrapper input{
    font-size: 1em;
    padding: 0 20px;
    border: none;
    border-bottom: 2px solid maroon;
    outline: none;
    color: #222a43;
}
#result{
    margin-top: 20px;
}
.container .flag-img{
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}
.container h2{
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
    
}
.data-wrapper{
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}
.container h4{
    display: inline;
    font-weight: 500;
    color: #222a43;
}
.container span{
    color: #222a43;
}
.container h3{
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
    text-align: center;
}